@import "../../sass/mixin";
@import "../../sass/variables";

section {
    padding-top: 2rem;
    width: 85vw;
    margin: auto;
    margin-bottom: 2rem;
    
    .products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 1rem;

        @media (max-width: 400px) {
            grid-template-columns: 1fr;
        }
    }
} 